
<h1>Transactions</h1>


    
        
    <input type="text" id="search" name="search" #search>
    <button type="button"  > heij</button>
    <button> <a routerLink='addTransaction'>Add transaction</a> </button>
    
    
    
<li class="container column" *ngFor="let Transaction of transArray$ | async ; let i = index ">
    <div>
        <label>Card number: </label>
        <p>{{Transaction.credit_card.card_number}}</p>
    </div>
    <div>
        <label>Amount transfered </label>
        <p>{{Transaction.amount | number:'1.1-2'}} {{Transaction.currency}}</p>
    </div>
    <div>
        <label>Transaction Date: </label>
        <p>{{Transaction.date | date }}</p>
    </div>
    <button (click)="filterTrans(Transaction.credit_card)">
        FILTER THIS SHIT
    </button>
    <button (click)="deleteTransaction(Transaction.uid!)">
        Delete
    </button>
    
</li>