
<h1>Transactions</h1>


    
 
<input type="text" id="search" name="search" #search>
<button type="button" (click)="filter(search.value)">
    Filter
</button>
<button type="button" (click)="reset()">
    Reset
</button>
<li *ngFor="let Transaction of transArray | async;">
    <p> Card number: {{Transaction.credit_card.card_number}}</p>
    <p>{{Transaction.amount | number:'1.1-2'}} {{Transaction.currency}} </p>
    <p>{{Transaction.comment}}</p>
    <p>Transaction date: {{Transaction.date | date }}</p>
    <button type="button" (click)="filter(Transaction.credit_card.card_number.toString())">
        Filter by this card number
    </button>
</li>