/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
}

.container {
  display: flex;
}
.flex-child {
  margin: 2px;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}