.row {
    flex-direction: row;
  }
  .column {
    flex-direction: column;
  }

  h1 {
    display: block;
    padding: 4px 10px;
    text-decoration: underline;
    color: #064064;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  li { 
    display: inline-grid; 
    padding: 4px;
    margin: 4px;
    border: solid;
    border-color: #064064;
    border-width: 1px;
    border-radius: 2px;
    min-width: 200px;
  }

  p {
    margin-top: 1px;
    margin-left: 8px;
    text-decoration: none;
    color: #064064;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  label {
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    color: #064064;
    font-size: larg;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  a {
    display: block;
    padding: 4px;
    text-decoration: none;
    color: white;
        &:hover {
             color: black;
        }
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  button {
    justify-self: center;
    background-color: rgb(149, 199, 249);
    border-radius: 4px;
    border-width: 0;
  }