<div class="container column">
    <h1>Credit Card Details</h1>
    <div>
        <label>Card number: </label>
        <p>{{card!.card_number}}</p>
    </div>
    <div>
        <label>Cardholder Name: </label>
        <p>{{card!.cardholder_name}}</p>
    </div>
    <div>
        <label>Card CSC Code: </label>
        <p>{{card!.csc_code}}</p>
    </div>
    <div>
        <label>Card Expiration Date: </label>
        <p>{{card!.expiration_date_month}}/{{card!.expiration_date_year}}</p>
    </div>
    <div>
        <label>Card Issuer: </label>
        <p>{{card!.issuer}}</p>
    </div>
</div>