<div class="container column">
    <h1>Credit Card Details</h1>
    <div>
        <label>Card number: </label>
        <p>{{card!.card_number}}</p>
    </div>
    <div>
        <label>Cardholder Name: </label>
        <p>{{card!.cardholder_name}}</p>
    </div>
    <div>
        <label>Card CSC Code: </label>
        <p>{{card!.csc_code}}</p>
    </div>
    <div>
        <label>Card Expiration Date: </label>
        <p>{{card!.expiration_date_month| ExpirationDate: card!.expiration_date_year }} </p>
    </div>
    <div>
        <label>Card Issuer: </label>
        <p>{{card!.issuer}}</p>
    </div>
    <button type="button" (click)="delete(card)">
        Delete this card
    </button>
</div>
<hr>
<h2>Card Transactions: </h2>
<li class="container row" *ngFor="let transaction of transactions;">
    <label>Amount: </label>
    <p>{{transaction.amount}}</p>
    <label>Currency: </label>
    <p>{{transaction.currency}}</p>
    <label>Date: </label>
    <p>{{transaction.date}}</p>
</li>